# Drizzle (Postgres connection string, e.g. from Render)
DATABASE_URL=postgresql://user:password@host:5432/dbname

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
